<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="row">
  {% for i,j,k,l in mylist %}
    <div class="col-4">
    <div class="card" style="width: 18rem;">
  <img src="{% static l %}" class="card-img-top" alt="..." height="100px" width="100px">
  <div class="card-body">
    <h5 class="card-title">{{i}}</h5>
    <p class="card-text">{{k}}</p>
    <a href="#" class="btn btn-primary">Add to Cart</a><br>
  </div>
</div>
        </div>
  <br>
    {% endfor %}
</div>
</body>
</html>