<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--#item name-->
<!--# item price-->
<!--# description-->
<!--# image-->
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="text" name="iname" placeholder="item name"><br><br>
    <input type="number" name="iprice" placeholder="item price"><br><br>
    <textarea name="des" rows="5"></textarea><br><br>
    <input type="file" name="image"><br><br>
    <input type="submit">
</form>
</body>
</html>